.footer{
    text-align: center;
    background-color: orange;
    padding-block: 15px;
}
.icons{
    
   display: flex;
   gap: 20px;
   justify-content: center;
   margin-bottom: 10px;
   margin-top: 10px;
   
}
.icon{
    font-size: 25px;
}
.para{
    width: 50%;
    margin: auto;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.footer ul{
    list-style: none;
    display: flex ;
    justify-content: center;
    gap: 20px;
}
.footer ul li{
    text-decoration: underline;
}
@media screen and (max-width:576px){
    .para{
        width: 90%;
        text-align: justify;
        margin-bottom: 20px;
        margin-top: 20px;
    }

}